*{
    margin: 0%;
    padding: 0%;
}

body{
    background: linear-gradient(#000000 , #29012e);
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
    color: aliceblue;

}
header{
    position: absolute;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
header .logo{
    font-size: 30px;
    text-transform: uppercase;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    list-style: none;
}
header ul li{
   margin-right: 30px;
}
header ul li a{
    padding: 6px 15px;
    border-radius: 20px;
}
header ul li a:hover, .active{
    background: white;
    color: #29012e;
    }
    .main{
        position: relative;
        height: 10vh;
        width: 100%;
    }
    .main::after{
        content: '';
        position: absolute;
        bottom: 0;
        height: 20px;
        width: 100%;
        background: linear-gradient(to top,#29012e,transparent);
    }
   .main {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   }
   .main img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
   }
   #stars{
    zoom: 15%;
   }
   #moon{
    mix-blend-mode: screen;
   }
   .nouvil{
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-transform: uppercase;
    transform: translatey(-220px);
   }
   .content{
    color: azure;
    padding: 30px;
    background: linear-gradient(#29012e,#19021c);
   }
   .content h2{
    margin: 20px;
    font-size: 25px;
   }
   .content p{
    margin: 20px;
   }